* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
}    
.hero {
    width: 100%;
    height: 100vh;
    background-image: url(./img/bg_pc.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
.container {
    height: 78vh;
    position: relative;
}
.container > h1 {
    font-size: 80px;
    color: #53d2fc;
    text-shadow: 3px 3px 10px #9ffa8f;
}
h2 {
    width: 450px;
    font-size: 40px;
    color: #fff;
    background-color: #82D290 ;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #FFF;
}
.container > img {
    height: 80%;
    width: 50%;
    position: relative;
    margin-top: -3%;
}
form {
    font-size: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
form > input {
    width: 200px;
    height: 200px;
    font-size: 170px;
    text-align: center;
    background: transparent;
    border: none;
    outline: none;
}
input:last-child {
    color: #fff
}
#left, #right {
    color: #999;
    width: 150px;
    height: 150px;
    font-size: 120px;
}
.comment {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 150px;
    z-index: 10;
}
#overall {
    font-size: 20px;
}
#overall > p {
    padding: 0 30px;
}
#start {
    font-size: 30px;
    text-align: center;
    color: #53d2fc;
    background-color: #fff;
    padding: 10px 40px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    outline: none;
    border: 2px solid #53d2fc;
    border-radius: 10px;
}
#start:hover {
    cursor: pointer;
    color: #fff;
    background-color: #53d2fc;
    transition: 0.5s;
}
.mask {
    width: 100%;
    height: 100vh;
    background-image: url(./img/mask_pc.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    position: relative;
    display: none;
    overflow-y: hidden;
}
.mask_containter {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    background-color: #fbfcd1;
    color: #001202;
    font-size: 30px;
    padding: 40px;
    border-radius: 10px;
}
.mask_review {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #82D290;
    padding: 20px;
    border-radius: 10px;
    animation-name: fadeUp;
    animation-duration:2s;
    animation-fill-mode:forwards;
    opacity:0;
}
 @keyframes fadeUp{
    from {
    opacity: 0;
    bottom: -10%;
    }

    to {
    opacity: 1;
    bottom: 5%
    }
}

h3 {
    color: blue;
    font-size: 16px;
}
 ul {
    display: grid;
    grid-template-columns: auto auto;
 }
 li {
    list-style-type: none;
 }


@media only screen and (max-width: 1200px) and (min-width: 1021px) {
    .container > img {
        width: 70%;
    }
}
@media only screen and (max-width: 1020px) and (min-width: 768px) {

    .container > h1 {
        font-size: 50px;
    }
    h2 {
        width: 60%;
        font-size: 30px;
    }
    .container > img {
        width: 70%;
    }
    form {
        padding-top: 40px;
        font-size: 40px;
    }
    form > input {
        width: 150px;
        height: 150px;
        font-size: 125px;
    }
    #left, #right {
        width: 100px;
        height: 120px;
        font-size: 120px;
    }
    .mask_containter {
    font-size: 25px;
    padding: 30px;
    }
}
@media only screen and (max-width: 767px) and (min-width: 481px) {
    .container > h1 {
        font-size: 50px;
    }
    h2 {
        width: 60%;
        font-size: 30px;
    }
    .container > img {
        width: 90%;
    }
    form {
        font-size: 30px;
    }
    form > input {
    width: 140px;
    height: 120px;
    font-size: 115px;
    }
    #left, #right {
        width: 100px;
        height: 120px;
        font-size: 120px;
    }
    .mask_containter {
        width: 60%;
        font-size: 25px;
        padding: 30px;
    }
    #assess {
        font-size: 18px;
    }
}
@media only screen and (max-width: 480px) {
    .hero {
        background-image: url(./img/bg_pc_2.jpg);
    }
    .container > h1 {
        font-size: 50px;
    }
    h2 {
        width: 60%;
        font-size: 30px;
    }
    .container > img {
        width: 95%;
    }
     form {
        font-size: 30px;
        padding-top: 20px;
     }
    form > input {
        width: 140px;
        height: 120px;
        font-size: 115px;
    }
    #left, #right {
        width: 75px;
        height: 120px;
        font-size: 120px;
    }
    .mask_containter {
        width: 80%;
        font-size: 20px;
        padding: 20px;
    }
    #assess {
      font-size: 18px;
  }
}
